<template>
    <div v-if="address">
        <h3>Indirizzo</h3>
        <div class="row">
            <div class="col-6">
                <p>Via: {{address.street}}</p>
            </div>
            <div class="col-6">
                <p>Città: {{address.city}}</p>
            </div>
            <div class="col-6">
                <p>CAP: {{address.zipcode}}</p>
            </div>
        </div>
        <custom-map :geo="address.geo"></custom-map>
    </div>
</template>

<script>
import CustomMap from "../../utility/CustomMap";
export default {
    name: 'AddressData',
    components: {CustomMap},
    props: ['address']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
