<template>
    <div v-if="company">
        <h3>Azienda</h3>
        <div class="row">
            <div class="col-6" v-for="el in fields">
                <p>{{el.label}}: {{company[el.field]}}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CompanyData',
    data(){
        return {
            fields: [{field: 'name', label: 'Nome azienda'}, {field: 'catchPhrase', label: 'Slogan'}, {field: 'bs', label: 'bs'}]
        }
    },
    props: ['company']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
