<template>
  <div>
    <h1 v-test="'blue'">
      Lista Attori
    </h1>
    <ul class="list-group">
      <li
          class="list-group-item list-group-item-primary"
          v-for="actor in actors" :key="actor.id">
        <router-link :to="{name: 'ActorShow', params: {id: actor.id}}">{{actor.name}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ActorList',
  data() {
    return {
      actors: []
    }
  },
  mounted() {
    this.$http.get('https://www.massimilianosalerno.it/jwt/api/test').then(res => {
      this.actors = res.body.data;
    }, err => console.log(err));
  }
}
</script>

<style scoped lang="scss">
  ul{
    padding: 5px;
    li{
      display: flex;
      padding: 10px;
      justify-content: space-between;
    }
  }

</style>
