<template>
  <div>
    <h1>
      Pagina modifica attore con id {{$route.params.id}}
    </h1>
    <h2>Locale: {{$route.query.locale}}</h2>
  </div>
</template>

<script>
export default {
  name: 'ActorEdit'
}
</script>

<style scoped lang="scss">


</style>
