<template>
  <div class="container">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'Actors',

}
</script>

<style scoped lang="scss">
  ul{
    padding: 5px;
    li{
      display: flex;
      padding: 10px;
      justify-content: space-between;
    }
  }

</style>
