<template>
  <div>
    <h1>
      Pagina attore con id {{$route.params.id}}
    </h1>
    <router-link tag="button" class="btn btn-primary" :to="{name: 'ActorEdit', params: {id: $route.params.id}, query: {locale: 'it'}}">Modifica</router-link>
  </div>
</template>

<script>
export default {
  name: 'ActorShow'
}
</script>

<style scoped lang="scss">


</style>
