<template>
    <div class="container">
        <h1>Login</h1>
        <form @submit.prevent="login">
            <div class="form-group">
                <label>Username</label>
                <input type="email" class="form-control" v-model="user.email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" v-model="user.password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</template>

<script>
export default {
    name: 'Login',
    data(){
        return {
            user: {}
        }
    },
    methods: {
        login(){
            this.$http.post('https://www.massimilianosalerno.it/jwt/api/auth/login', this.user).then(res => {
                if(res.ok){
                    this.$store.dispatch('login', res.body.token);
                    this.$router.push({name: 'Home'})
                }
            })
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
