<template>
  <div class="customCard" :class="[color, {borderRed}]" @click="borderRed = !borderRed">
    <p>{{text}}</p>
    <span>{{subtitle}}</span>
    <input type="text" v-model="color">
  </div>
</template>

<script>
export default {
  name: 'Card',
  data(){
    return {
      borderRed: false,
      color: ''
    }
  },
  computed: {
    cardClass: function () {
      return [this.color, {borderRed: this.borderRed}];
    }
  },
  props: {
    text: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      default: 'sottotitolo'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .customCard {
    height: 150px;
    width: 150px;
    background: blue;
    border: solid green;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      font-size: 20px;
    }
    span{
      font-size: 10px;
    }
    &.borderRed{
      border: solid red;
    }
    &.red{
      background: red;
    }
    &.green{
      background: green;
    }
    &.yellow{
      background: yellow;
    }
    &.gray{
      background: gray;
    }
  }

</style>
