<template>
  <div class="card">
    <div class="card-header bg-primary text-light">
      <span v-if="title">{{title}}</span>
      <slot name="header"></slot>
    </div>
    <div class="card-body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardBootstrap',
  props: ['title']
}
</script>
