<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
  export default {
    data(){
      return {
        token: undefined
      }
    },
    methods: {
      setToken(token){
        this.token = token;
        localStorage.setItem('token', this.token);
      }
    },
    mounted(){
      if(localStorage.getItem('token')){
        this.token = localStorage.getItem('token');
      }
    }
  }
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.pointer {
  cursor: pointer;
}
</style>
