<template>
    <div v-if="token && user">
        <app-header :voices="voices" :user="user" @logout="logout"></app-header>
        <v-touch @swiperight="goSwipe('left')" @swipeleft="goSwipe('tight')">
            <div class="py-3">
                <router-view/>
            </div>
        </v-touch>
    </div>
    <div v-else>
        ...Caricamento in corso
    </div>
</template>

<script>
import routes from '../../router/auth';
export default {
    name: 'AuthPage',
    computed: {
      voices(){
          return routes.filter(el => el.menuTitle)
              .map(({menuTitle: label, path: to}) => ({label, to}))
      },
        user(){
          return this.$store.getters.getUser;
        },
        token(){
            return this.$store.getters.getToken;
        }
    },
    created(){
        this.$store.dispatch('autoLogin');
    },
    methods: {
        logout(){
          this.$store.dispatch('logout');
        },
        goSwipe(direction){
            let routerFilter = routes.filter(route => route.path.indexOf(':') === -1);
            let indexRoute = routerFilter.findIndex(route => route.name === this.$route.name);
            let nextRoute = this[direction](routerFilter, indexRoute);
            this.$router.push(nextRoute.path);
        },
        right(routerFilter, indexRoute){
            return routerFilter.length <= (indexRoute + 1) ?
                routerFilter[0] :
                routerFilter[indexRoute + 1];
        },
        left(routerFilter, indexRoute){
            return indexRoute <= 0?
                routerFilter[routerFilter.length - 1]
                : routerFilter[indexRoute-1];
        }
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
