<template>
  <div>
    <h1>Pagina Direttive</h1>
    <p v-text="'Aggiungiamo del testo'"></p>
    <p v-html="'<strong>Html</strong>'"></p>
    <p v-text="test"></p>
    <div class="directive-flex" v-flex>
      <div v-basis="{cols: 12, col: 2}">Primo</div>
      <div v-basis="{cols: 12, col: 2}" v-flex.align.justify>FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">dfsd</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">fdf</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">FDFDSFGDS</div>
      <div v-basis="{cols: 12, col: 2}">Ultimo</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Directive',
  data(){
    return {
      test: 'Test, prova'
    }
  }
}
</script>

<style scoped lang="scss">
 .directive-flex > div {
   height: 100px;
 }
</style>
