<template>
  <div class="home">
    <app-card v-for="el in listData" :text="el.text" :subtitle="el.subtitle"></app-card>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data(){
    return {
      listData: [
        {text: 'Prova1', subtitle: 'sottotitolo1'},
        {text: 'Prova2'},
        {text: 'Prova3', subtitle: 'sottotitolo3'}
      ]
    }
  }
}
</script>

<style scoped lang="scss">
  .home{
    display: flex;
    justify-content: space-around;
  }
</style>
