<template>
  <div>
    <h1>Pagina personalizzazione</h1>
    <div class="row">
      <div class="col-6">
        <div :style="calcStyle"></div>
      </div>
      <div class="col-6">
        <div class="form-group" v-for="(el, index) in elementCss">
          <input type="text" v-model="el.name">
          <input type="text" v-model="el.value">
          <span @click="deleteElementCss(index)">
            <i class="fas fa-trash-alt"></i>
          </span>
        </div>
        <button class="btn btn-primary" @click="addElement">Aggiungi</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Page',
  methods: {
    deleteElementCss: function(index){
      this.elementCss.splice(index, 1);
    },
    addElement(){
      this.elementCss.push({
        name: '',
        value: ''
      })
    }
  },
  data() {
    return {
      elementCss: [
        {
          name: 'backgroundColor',
          value: 'red'
        },
        {
          name: 'width',
          value: '500px'
        },
        {
          name: 'height',
          value: '500px'
        },
      ]
    }
  },
  computed: {
    calcStyle: function () {
      return this.elementCss.reduce((obj, el) => {
        obj[el.name] = el.value;
        return obj;
      }, {})
    }
  }
}
</script>

<style scoped lang="scss">
 .row{
   display: flex;
   > * {
     flex-basis: 50%;
   }
 }
</style>
