<template>
  <div class="container">
    <div v-if="!newUser">
      <h1>
        Lista Utenti
        <span class="pointer" @click="setNewUser()">
          <i class="fas fa-plus-square"></i>
        </span>
      </h1>
      <input type="text" v-model="text" placeholder="cerca utente" class="form-control">
      <ul>
        <li v-for="user in filterArray" :key="user.id">
          <router-link :to="'/user/'+user.id">{{user.name}}</router-link>
          <div>
            <span class="pointer" @click="setNewUser(user)">
              <i class="fas fa-edit"></i>
            </span>
            <span class="pointer" @click="deleteUser(user)">
              <i class="fas fa-trash-alt"></i>
            </span>
          </div>

        </li>
      </ul>
    </div>
    <div v-else>
        <h1>{{newUser.id ? 'Modifica' : 'Nuovo'}} Utente</h1>
        <form @submit.prevent="addUser">
          <div class="form-group">
            <input type="text" v-model="newUser.name" class="form-control" placeholder="Nome Utente">
          </div>
          <div class="form-group">
            <input type="text" v-model="newUser.username" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="email" v-model="newUser.email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" v-model="newUser.phone" class="form-control" placeholder="Telefono">
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-info" @click="resetNewUser">Annulla</button>
            <button type="submit" class="btn btn-primary">{{newUser.id? 'Aggiorna' : 'Salva'}}</button>
          </div>
        </form>
    </div>

  </div>
</template>

<script>
  import {filterMixin} from '../../mixins/arrayFilter'
export default {
  name: 'Users',
  mixins: [filterMixin],
  data() {
    return {
      text: ''
    }
  },
  computed: {
    users: function () {
      return this.$store.getters.getUsers
    },
    newUser: function() {
      return this.$store.getters.getNewUser
    },
    filterArray: function () {
      return this.filterMixin(this.users, 'name', this.text);
    }
  },
  methods: {
    setNewUser(user = {}){
      this.$store.dispatch('setNewUser', user);
    },
    addUser(){
      this.$store.dispatch('addInsertCall', this.newUser);
    },
    resetNewUser(){
      this.$store.dispatch('resetNewUser');
    },
    deleteUser({id}){
      this.$store.dispatch('deleteUserCall', id);
    }
  },
  mounted() {
    this.$store.dispatch('usersCall')
  }
}
</script>

<style scoped lang="scss">
  ul{
    padding: 5px;
    li{
      display: flex;
      padding: 10px;
      justify-content: space-between;
    }
  }

</style>
