<template>
  <div class="container">
      <div class="row">
          <div class="col-6">
              <CardBootstrap :title="'Pagina di ' + user.name">
                  <GeneralData :user="user"></GeneralData>
                  <hr>
                  <AddressData :address="user.address" v-if="user.address"></AddressData>
                  <hr>
                  <CompanyData :company="user.company" v-if="user.company"></CompanyData>
              </CardBootstrap>
          </div>
          <div class="col-6">
              <CardBootstrap title="Lista post">
                  <ListPosts :posts="user.posts"></ListPosts>
              </CardBootstrap>
          </div>
      </div>

  </div>
</template>

<script>

import GeneralData from "../../components/views/user/GeneralData";
import AddressData from "../../components/views/user/AddressData";
import CompanyData from "../../components/views/user/CompanyData";
import CardBootstrap from "../../components/design/bootstrap/CardBootstrap";
import ListPosts from "../../components/views/user/ListPosts";
export default {
  name: 'User',
  components: {ListPosts, CardBootstrap, CompanyData, AddressData, GeneralData},
  data() {
    return {
      id: this.$route.params.id,
      user: {},
      posts: []
    }
  },
  mounted() {

      const userCall = this.$http.get(`users/${this.id}`)
          .then(res => {
            return res && res.body? res.body : {};
          });
      const postsCall = this.$http.get(`users/${this.id}/posts`)
          .then(res => {
            return res && res.body? res.body : {}
          });
      Promise.all([userCall, postsCall]).then(([user, posts]) => {
          console.log(user, posts);
          this.user = {...user, posts};
      })
  }
}
</script>

<style scoped lang="scss">

</style>
